<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Nether Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="Nether Travel Logo">
        </header>
        {{{body}}}
    </body>
</html>
