{{#section 'head'}}
    <meta name="robots" content="noindex">
{{/section}}
<h1>Test page</h1>
<p>Testing something with jQuery.</p>
{{#section 'jquery'}}
    <script>
        $('document').ready(function() {
            $('h1').html('jQuery works');
        });
    </script>
{{/section}}
